<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <application
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:allowBackup="@@ALLOW_BACKUP@@"
    android:enableOnBackInvokedCallback="@@ENABLE_ON_BACK_INVOKED_CALLBACK@@"
    android:label="@@APP_NAME@@"
    android:theme="@style/SplashTheme"
    tools:targetApi="tiramisu">
    <activity
      android:exported="true"
      android:name="@@MAIN_ACTIVITY@@"
      android:label="@@APP_NAME@@"
      android:screenOrientation="@@SCREEN_ORIENTATION@@"
      android:immersive="true"
      android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ProcessRestartActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:finishOnTaskLaunch="true"
      android:noHistory="true"
      android:process=":restart"
      android:taskAffinity="@@APP_ID@@.restart"
      android:theme="@style/RestartTheme" />
  </application>
</manifest>
